$primary: #222425;
$grey: #a4a8a8;

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
}

img {
	margin: 0;
	padding: 0;
}

@import "_home";
@import "_navigation";
@import "_animations";
@import "_bookpages";

@import "_footer";
@import "_style";
@import "_bookpages";
@import "_media-queries";
